:root {
  font-size: 2vh;
}

body {
  margin: 0;
}

div.main {
  display: inline-block;
  min-height: calc(100vh - 23rem);
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  padding: 1rem;
  box-sizing: border-box;
}